
/*book table */
.book-table{
    padding-top: 40px;
    h1{
        font-family: amatic;
    }
    h6{
        font-weight:lighter;
    }
}
.reservation-form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #f9f9f9;
    height: 70vh;
    width:85vw ;
    margin-top: 30px;
    overflow: hidden; 
    .reservation-image {
        flex: 1;
        img {
         height:70vh;
         width: 30vw; 
         object-fit: cover;
        }
    }

    .form-container {
        padding-top: 100px;
        padding-right: 30px;
        flex: 1.5;
        
        form {
            display: flex;
            flex-direction: column;

            .form-row {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;

                input {
                    width: 32%;
                    padding: 10px;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    font-size: 14px;

                    &::placeholder {
                        color: #999;
                    }
                }
            }

            textarea {
                width: 100%;
                padding: 10px;
                border: 1px solid #ddd;
                border-radius: 4px;
                font-size: 14px;
                height: 100px;
                margin-bottom: 20px;

                &::placeholder {
                    color: #999;
                }
            }

            button {
                margin: auto;
                padding: 10px 20px;
                background-color: #d32f2f;
                color: #fff;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-size: 16px;
                align-self: flex-start;

                &:hover {
                    background-color: #c1272d;
                }
            }
        }
    }
}

@media (max-width: 425px){
    .reservation-form {
        display: flex;
        flex-direction: column;
        height: 130vh;
        width: 100vw;
        .reservation-image {
            img {
             height:70vh;
             width: 100vw; 
             object-fit: cover;
            }
          }
       }
     .form-container {
        padding-top: 100px;
        padding-right: 30px;
        flex: 1.5;
        
        form {
            display: flex;
            flex-direction: column;

            .form-row {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;

                input {
                    width: 32%;
                    padding: 10px;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    font-size: 14px;

                    &::placeholder {
                        color: #999;
                    }
                }
            }

            textarea {
                width: 100%;
                padding: 10px;
                border: 1px solid #ddd;
                border-radius: 4px;
                font-size: 14px;
                height: 100px;
                margin-bottom: 20px;

                &::placeholder {
                    color: #999;
                }
            }

            button {
                margin: auto;
                padding: 10px 20px;
                background-color: #d32f2f;
                color: #fff;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-size: 16px;
                align-self: flex-start;

                &:hover {
                    background-color: #c1272d;
                }
            }
        }
    }
}